/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* END DEMO */

.gridArea {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
  margin: 50px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
Button {
  width: 200px;
  text-align: center;
}

.finalButton {
  display: flex;
  justify-content: center;
}

.fullscreen {
  height: 100vh;
}
