.gridArea {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
  margin: 50px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
Button {
  width: 200px;
  text-align: center;
}

.finalButton {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.singleCard:hover {
  transform: scale(0.99);
  padding: 20px;
}

.main-footer {
  display: flex;
  background-color: #e64398;
  bottom: 0;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  margin-top: 100px;
}
.footer-left {
  margin-left: 5%;
  color: #f0ebf4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 90%;
}

.footer-right {
  width: 17%;
  margin-left: 75%;
}

.mission-head {
  color: #f0ebf4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 150%;
}
